.footer {
  background-color: $clr-primary-light;
  text-align: center;

  span {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: $fw-semi-bold;
    color: $clr-neutral-100;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin: 6rem 0 2.4rem 0;
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1.8rem;
    margin-bottom: 6rem;

    @media (max-width: 50em) {
      grid-template-columns: 1fr;
      padding-inline: 2.4rem;
    }

    .input-wrapper {
      border-radius: 0 0 3px 3px;
      overflow: hidden;
    }

    .message {
      display: none;
      padding: 0.6rem;
      font-size: 1.4rem;
      color: $clr-neutral-100;
      font-weight: $fw-bold;
      font-style: italic;
      text-align: start;
      background-color: $clr-accent;
    }

    input {
      $padding: 1.2rem;
      position: relative;
      width: 100%;
      border: 0.2rem solid transparent;
      padding: $padding;
      font-size: $fs-text;
      font-weight: $fw-semi-bold;

      &:focus-within {
        outline: none;
      }
    }

    button {
      align-self: self-start;
    }
  }

  &__nav {
    background-color: $clr-primary-dark;
    padding: 1.8rem 0 3.2rem 0;

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 50em) {
        flex-direction: column;
        gap: 6rem;
      }
    }
  }

  &__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 6rem;

    @media (max-width: 50em) {
      flex-direction: column;
      gap: 3.2rem;
    }
  }

  &__link {
    font-size: $fs-text;
    font-weight: $fw-semi-bold;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      color: $clr-accent;
    }
  }

  .socials {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2.4rem;
  }

  .social__link {
    &:hover {
      svg,
      path {
        fill: $clr-accent;
        transition: fill 0.3s;
      }
    }
  }
}

.error {
  input {
    background-image: url("../../images/icon-error.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 1.2rem) 50%;
    border-color: $clr-accent;
  }

  .message {
    display: block;
  }
}
