$clr-primary-light: hsl(231, 69%, 60%);
$clr-primary-dark: hsl(229, 31%, 21%);
$clr-accent: hsl(0, 94%, 66%);
$clr-neutral-100: hsl(0, 0%, 100%);
$clr-neutral-400: hsl(229, 8%, 60%);

$ff-body: "Rubik", sans-serif;

$lineH-body: 1;
$lineH-heading: 1.1;
$lineH-text: 1.6;

$fw-regular: 400;
$fw-semi-bold: 500;
$fw-bold: 600;
$fw-super-bold: 700;

$fs-heading: 4rem;
$fs-sub-heading: 2.4rem;
$fs-text: 1.6rem;
